{% extends 'base/base.html' %}
{% load static %}
{% block title %}
{% endblock %}
<!-- 추가적으로 적용할 CSS 는 이쪽으로, 순서가 뒤 이면 overwrite 함 -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock %}

{% block content %}
<h1 style='margin:50px;'>비밀번호 변경</h1>
<form method="post" action="{% url 'user:change_password' %}">
    {% csrf_token %}
    <div class='userbox2'>
        <div class = 'input_divs'>
            <label style='width: 190px;'>Password</label>&emsp;<input type = "password" placeholder="Password" class = "input_1" name = "password1" value = "{{ form.password1.value|default_if_none:'' }}">
        </div>
    </div>
    
    <div class='userbox2'>
        <div class = 'input_divs'>
            <label style='width:190px;'>PW confirm</label>&emsp;<input type = "password" placeholder="PW confirm" class = "input_1" name = "password2" value = "{{ form.password2.value|default_if_none:''}}">
        </div>
    </div>            
    {% if error %}
    <div class="error_message">{{ error }}</div>
    {% endif %}
    <div class='edit_btn'>
        <button style='width:100px;margin-top:50px;' type="submit" class = "button_1 yn_btn">변경</button>
        <button style='width:100px;margin-top:50px;' class = "button_1 yn_btn" type="button" onclick = "window.location='{% url 'user:mypage' %}';">취소</button>
    </div>
</form>


{% endblock %}