{% extends 'base/base.html' %}
{% load static %}
{% block title %}
{% endblock %}
<!-- 추가적으로 적용할 CSS 는 이쪽으로, 순서가 뒤 이면 overwrite 함 -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock %}

{% block content %}
<h1>아이디 찾기</h1>

<form method="post" action="{% url 'user:forgot_id' %}" entype="application/x-www-form-urlencoded">
    {% csrf_token %}
    <div class="input_divs">
        <input type="text" class="input_1" 
            name="email" id="email" placeholder= "email" value="{{ form.email.value|default_if_none:""}}">
    </div>
    {% if error %}
    <div class="error_message">{{ error }}</div>
    {% endif %}
<br>
가입 시 작성하신 이메일 주소로 본인 아이디가 전송됩니다.
<br>

    <div class='innerdiv' id='weight3'>
        <button style='width:100px;margin-top:50px;' class = "button_1" type="submit" >확인</button>
    </div>
    <button style='width:100px;margin-top:50px;' class="button_1" type="button" onclick="window.location='{% url 'user:login' %}';">취소</button>
</form>



{% endblock %}