{% extends 'base/base.html' %}
{% load static %}
{% block title %}
{% endblock %}
<!-- 추가적으로 적용할 CSS 는 이쪽으로, 순서가 뒤 이면 overwrite 함 -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/user.css' %}">
<script type="text/javascript" src="{% static 'js/user.js' %}"></script>
{% endblock %}

{% block content %}
<div class="email-img">
    <img class='img' src="/static/images/email_img.png">
</div>
<div class="email-content">
    <h2>
        {{email}}<br>
        비밀번호 변경 메일을 발송했습니다.
        <br>
        메일을 확인해주세요.
    </h2>
</div>
{% endblock %}