{% extends 'base/base.html' %}
{% load static %}
{% block title %}
{% endblock %}
<!-- 추가적으로 적용할 CSS 는 이쪽으로, 순서가 뒤 이면 overwrite 함 -->
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/board.css' %}">
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
{% endblock %}

{% block content %}
<h1>글 수정</h1>
<div id="wrapper">
    <form id="paper" method = "post" enctype="multipart/form-data"> <!-- 전송 방식 : post-->
        {% csrf_token %}
        
        <!-- 오류 표시 시작-->
        {% if form.errors %}
            <div role = "alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류 표시 종료-->
        <!-- form -->
        <div class = 'input_divs'>
            <input type = "text" name = "title" class='input_1' placeholder="Title" value = "{{ form.title.value|default_if_none:''}}">{{ post.title }}</input>
        </div>
        <br>
        <div>
            <textarea name = "content" id="text" rows = "10" style="overflow: auto; word-wrap: break-word; resize: none; height: 500px; ">{{ form.content.value|default_if_none:''}}{{post.content}}</textarea>
        </div>
        <br>
        <div class="container">
            <label class="label" id="label" for="input">
               <div class="inner" id="inner">Drag or Click for Upload</div>
            </label>
            <input id="input" class="input" name = 'img_src' accept="image/*" type="file" multiple="true" hidden="true">{{post.img_src}}</input>
            <p class="preview-title">preview</p>
            <div class="preview" id="preview"></div>
        </div>
        <hr>
        <br>
        <div class='save-location'>
        <!-- {{ form.as_p }} 오류 표시 추가 하면서 수정-->
        <a class='btn-back' href="{% url 'board:posts'%}">뒤로가기</a>
        <button type= "submit">저장하기</button>
        </div>
    </form>
</div>


 
 <script>
    var input = document.getElementById("input");
    var initLabel = document.getElementById("label");
 
    input.addEventListener("change", (event) => {
       const files = changeEvent(event);
       handleUpdate(files);
    });
 
    initLabel.addEventListener("mouseover", (event) => {
       event.preventDefault();
       const label = document.getElementById("label");
       label?.classList.add("label--hover");
    });
 
    initLabel.addEventListener("mouseout", (event) => {
       event.preventDefault();
       const label = document.getElementById("label");
       label?.classList.remove("label--hover");
    });
 
    document.addEventListener("dragenter", (event) => {
       event.preventDefault();
       console.log("dragenter");
       if (event.target.className === "inner") {
          event.target.style.background = "#616161";
       }
    });
 
    document.addEventListener("dragover", (event) => {
       console.log("dragover");
       event.preventDefault();
    });
 
    document.addEventListener("dragleave", (event) => {
       event.preventDefault();
       console.log("dragleave");
       if (event.target.className === "inner") {
          event.target.style.background = "#3a3a3a";
       }
    });
 
    document.addEventListener("drop", (event) => {
       event.preventDefault();
       console.log("drop");
       if (event.target.className === "inner") {
          const files = event.dataTransfer?.files;
          event.target.style.background = "#3a3a3a";
          handleUpdate([...files]);
       }
    });
 
    function changeEvent(event) {
       const { target } = event;
       return [...target.files];
    };
 
    function handleUpdate(fileList) {
       const preview = document.getElementById("preview");
 
       fileList.forEach((file) => {
          const reader = new FileReader();
          reader.addEventListener("load", (event) => {
             const img = el("img", {
                className: "embed-img",
                src: event.target?.result,
             });
             const imgContainer = el("div", { className: "container-img" }, img);
             preview.append(imgContainer);
          });
          reader.readAsDataURL(file);
       });
    };
 
    function el(nodeName, attributes, ...children) {
       const node =
          nodeName === "fragment"
             ? document.createDocumentFragment()
             : document.createElement(nodeName);
 
       Object.entries(attributes).forEach(([key, value]) => {
          if (key === "events") {
             Object.entries(value).forEach(([type, listener]) => {
                node.addEventListener(type, listener);
             });
          } else if (key in node) {
             try {
                node[key] = value;
             } catch (err) {
                node.setAttribute(key, value);
             }
          } else {
             node.setAttribute(key, value);
          }
       });
 
       children.forEach((childNode) => {
          if (typeof childNode === "string") {
             node.appendChild(document.createTextNode(childNode));
          } else {
             node.appendChild(childNode);
          }
       });
 
       return node;
    }
 </script>


{% endblock %}